<% provide(:title, "About")%>
    <h1>About</h1>
    <p>
  The <a href="#"><em>Community Chat web application was developed as</em></a>, part of the
  <a href="https://www.learnenough.com/">Learn Enough</a> family of
  tutorials, is a
  <a href="#">book</a> and
  <a href="#">screencast series</a>
  to teach web development with
  <a href="#">Ruby on Rails</a>.
  This is a version of the sample app for the tutorial.
</p>